<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная</title>
    <link rel="stylesheet" href="/static/css/index_styles.css">
</head>

<body>
<div class="content">
    <h1>Добро пожаловать!</h1>
    <div class="links">
        <a href="/price">Рассчитать стоимость доставки</a>
        <a href="/orders">Все заказы</a>
        <a href="/semester">Задание за семестр</a>
    </div>
</div>
<footer>
    <small>by HeavyMaverick</small>
</footer>
</body>
</html>