<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Заказы</title>
</head>
<body>
<h1>Заказы пользователя: [[${#httpServletRequest.remoteUser}]]</h1>

<div th:if="${not #lists.isEmpty(orders)}">
    <table border="1">
        <tr>
            <th>ID заказа</th>
            <th>Дата создания</th>
            <!-- Добавьте другие столбцы, соответствующие полям вашей модели -->
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.createdAt}"></td>
            <!-- Добавьте другие ячейки, соответствующие полям вашей модели -->
        </tr>
    </table>
</div>

<div th:if="${#lists.isEmpty(orders)}">
    У этого пользователя пока нет заказов.
</div>
<div>
    <br>
    <a href="">На главную</a>
</div>

</body>
</html>