/* register_styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    background-image: linear-gradient(to right, #555, #333); /* Серый градиент */
}

a:hover {
    background-image: linear-gradient(to right, #444, #222); /* Темнее при наведении */
    color: orange;
}

.container {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: orange;
    margin-bottom: 20px;
}

.container form {
    display: grid;
    gap: 10px;
}

.container form .input-group {
    margin-bottom: 15px;
}

.container form .input-group label {
    display: block;
    margin-bottom: 5px;
}

.container form .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.container form .input-group input::placeholder {
    color: #999;
}

.container form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.container form button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: smaller;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: green;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success a {
    color: inherit;
}

.close {
    float: right;
    font-size: 1.2em;
    line-height: 1;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: .2;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}