/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #212121;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    text-align: right;
    padding: 10px;
}

.home-link {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.home-link:hover {
    color: orange;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
    color: orange;
}

#calculator-form label {
    display: block;
    margin-bottom: 10px;
}

#calculator-form input[type=number] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

#calculator-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: orange;
    color: white;
    transition: all 0.3s ease-in-out;
}

#calculator-form button:hover {
    background-color: rgba(255, 165, 0, 0.8);
}

#result-container {
    margin-top: 20px;
}

#result-container p {
    margin-bottom: 20px;
}

#result-container button {
    margin-right: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
}

footer small {
    color: gray;
}

.hidden {
    display: none;
}

/* Дополнительные стили */
h1, h2 {
    color: orange;
    margin-bottom: 20px;
}

button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

button:hover {
    background-color: rgba(255, 165, 0, 0.8);
}

button:focus {
    box-shadow: 0 0 5px orange;
}

input[type="number"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid orange;
    color: white;
    background-color: transparent;
    text-align: center;
}

input[type="number"]::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

input[type="number"]:focus {
    border-color: orange;
    outline: none;
}

#calculator-form,
#result-container {
    display: inline-block;
    padding: 30px;
    background-color: rgba(33, 33, 33, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

p {
    margin-bottom: 10px;
}

#cost-in-rubles,
#total-cost {
    color: orange;
    font-weight: bold;
}